<!doctype html>
<html>
  <head>
     <title>
	     Registration Form   
	 </title>
	
  </head>
  <body>
  
      <h1> Registration Form  </h1>
	  <form  action="done.html" autocomplete>
	    <label>* First Name :</label><input type="text" size="30" required autocomplete ><br><br>
		<label>* Last Name :</label><input type="text" size="30" required ><br><br>
		<label>* Age :</label><input type="number" size="3" min="1" max="100"required ><br><br>
		<label>* Contact :</label><input type="tel"  required ><br><br>
		<label>* Email :</label><input type="email" required ><br><br>
		<label>*Gender:</label><input type="radio" value="male" name="gender" required> M
		             <input type="radio" value="female" name="gender" checked required>F<br><br>
	   <input type="submit" value="submit" onclick='alert("Record Submited...")'>  <input type="reset" value="Reset">
	  
	  </form>
  
    
  
  </body>

</html>
