

<div class="container allstudents-container">
    <a mat-raised-button color="accent" routerLink="/place_order">
      Add Order
    </a>
      <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="order_id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.order_id }}</td>
         </ng-container>
     
        <ng-container matColumnDef="order_name">
          <th mat-header-cell *matHeaderCellDef>Order Name</th>
          <td mat-cell *matCellDef="let element">{{ element.order_name }}</td>
        </ng-container>
     
        <ng-container matColumnDef="shipping_charge">
          <th mat-header-cell *matHeaderCellDef>Shipping Charge</th>
          <td mat-cell *matCellDef="let element">{{ element.shipping_charge}}</td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="total_price">
            <th mat-header-cell *matHeaderCellDef>Total Price</th>
            <td mat-cell *matCellDef="let element">{{ element.total_price}}</td>
        </ng-container>

        <ng-container matColumnDef="order_date">
            <th mat-header-cell *matHeaderCellDef>Order Date</th>
            <td mat-cell *matCellDef="let element">{{ element.order_date}}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Update/Delete</th>
          <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/update-update_order','element.order_id']"
            ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
            >
            </mat-icon
          ></a>
          <mat-icon
          (click)="openDeleteModal(element.order_id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="customerproducts">
          <th mat-header-cell *matHeaderCellDef>Customer & Products</th>
          <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/get-customer','order_id']"
            ><button type="button" class="btn btn-outline-info">Customer</button></a>&nbsp;
            <a [routerLink]="['/products']">
            <button type="button" class="btn btn-outline-warning">Products</button></a>&nbsp;
          </td>
        </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>